<div class="navbar navbar-inverse bg-inverse">
  <div class="d-flex justify-content-between">
    <a href="#" class="navbar-brand">
      <span class="socialIcons"> 
        <i class="fa fa-twitter"></i> <i class="fa fa-facebook"> </i>  <i class="fa fa-dribbble"> </i> 
      </span> {{title | uppercase}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>